<div class="modal">
  <div class="modal-block">
    <h3 class="modal-block__title">Создать заметку</h3>
    <form class="modal-block__form">
      <button class="modal-block__close">X</button>
      <label class="modal-block__label">
        <input
          class="modal-block__input"
          type="text"
          placeholder="Введите название заметки"
        />
        <span class="modal-block__value">Название</span>
      </label>
      <label class="modal-block__label">
            <textarea
              class="modal-block__input modal-block__input--area"
              placeholder="Введите текст заметки"
            ></textarea>
        <span class="modal-block__value">Текст заметки</span>
      </label>
      <button class="modal-block__btn" type="submit">Создать</button>
    </form>
  </div>
</div>
